<div class="jumbotron">
    <h1 class="text-center">
      Ciudades
    </h1>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Ciudades
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3601783</td>
        <td>San Pedro Sula
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            </button>
        </td>
      </tr>
      <tr>
        <td>2643743</td>
        <td>Londres</td>
      </tr>
      <tr>
        <td>2968815</td>
        <td>Paris</td>
      </tr>
      <tr>
        <td>5128638</td>
        <td>Nueva York</td>
      </tr>
      <tr>
        <td>1850147</td>
        <td>Tokyo</td>
      </tr>
      <tr>
        <td>2147714</td>
        <td>Sydney</td>
      </tr>
      <tr>
        <td>3435910</td>
        <td>Buenos Aires</td>
      </tr>
      <tr>
        <td>3451190</td>
        <td>Rio de Janeiro</td>
      </tr>
      <tr>
        <td>2950158</td>
        <td>Berlin</td>
      </tr>
      <tr>
        <td>5601538</td>
        <td>Moscu</td>
      </tr>
      <tr>
        <td>292223</td>
        <td>Dubai</td>
      </tr> 
    </tbody>
  </table>