<div class="jumbotron">
    <h1 class="text-center">
      Temperatura de la Ciudad que usted desee!!!
    </h1>
  </div>



<div class="form-group col-md-4" >
    <label for="inputState">Seleccione Ciudad</label>
    <select id="inputState" class="form-control" #ciudad>
        <option selected>...</option>
        <option value="3601783">San Pedro Sula</option>
        <option value="2643743">Londres</option>
        <option value="2968815">Paris</option>
        <option value="5128638">Nueva York</option>
        <option value="1850147">Tokyo</option>
        <option value="2147714">Sydney</option>
        <option value="3435910">Buenos Aires</option>
        <option value="3451190">Rio de Janeiro</option>
        <option value="2950158">Berlin</option>
        <option value="5601538">Moscu</option>
        <option value="292223">Dubai</option>
    </select>
</div>

<button type="button" class="btn btn-primary" (click)="Clima(ciudad.value)" data-toggle="modal" data-target="#Temperatura">Cargar datos</button>


<br>
<br>


<div class="form-row">
    <div class="form-group col-md-2" class="text-center">
        <label>Temperatura ℃</label>
        <input [(ngModel)]="climas.main.temp" [ngModelOptions]="{standalone: true}" class="form-control mb-2" readonly/>
    </div>

    <div class="form-group col-md-2 " class="text-center">
            <label>Humedad</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">%</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" [(ngModel)]="climas.main.humidity" [ngModelOptions]="{standalone: true}"
                    readonly>
            </div>
        </div>
    

    <div class="form-group col-md-2" class="text-center">
        <label>Temperatura Maxima</label>
        <input [(ngModel)]="climas.main.temp_max" [ngModelOptions]="{standalone: true}" class="form-control mb-2" readonly/>
    </div>
</div>

<div class="form-row">

    <div class="form-group col-md-2" class="text-center">
        <label>Temperatura Minima</label>
        <input [(ngModel)]="climas.main.temp_min" [ngModelOptions]="{standalone: true}" class="form-control mb-2" readonly/>
    </div>

    <div class="form-group col-md-4" class="text-center">
        <label>Nubes</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">%</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" [(ngModel)]="climas.clouds.all" [ngModelOptions]="{standalone: true}"
                readonly>
        </div>
    </div>
</div>
